doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title=__i('name')
    meta(name="description", content="Анонимный чат Beseda.KZ")
    meta(name="keywords", content="чат, анонимный чат, знакомства, быстрые знакомства, одноразовые друзья, виртуальные знакомства")

    link(href='/css/style.css', rel='stylesheet')
    != "<script type='text/javascript'>"
    != "var app_host = '" + app_host + "';"
    != "var app_port = '" + app_port + "';"
    != "</script>"
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.cookie.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/beseda.js')
  body
    
    #chat
      #nickname
        #logo
          h4
            span=__i('name')
          span.online 0
        form.wrap#set-nickname
          table#login
            tr
              td.title=__i('your_sex')
              td.title=__i('com_sex')
            tr
              td.m_sex 
                span(onclick="setSex(1,1,this)")#m_sex_1=__i('male')
                span(onclick="setSex(1,2,this)")#m_sex_2=__i('female')
              td.c_sex 
                span(onclick="setSex(0,1,this)")#c_sex_1=__i('male')
                span(onclick="setSex(0,2,this)")#c_sex_2=__i('female')
            tr.age
              td.title=__i('your_age')
              td.title=__i('com_age')
            tr
              td.m_age
                span(onclick="setAge(1,18,this)")#m_age_18 18-21
                br
                span(onclick="setAge(1,22,this)")#m_age_22 22-25
                br
                span(onclick="setAge(1,26,this)")#m_age_26 26-31
                br
                span(onclick="setAge(1,31,this)")#m_age_31 31-40
                br
                span(onclick="setAge(1,40,this)")#m_age_40 > 40
              td.c_age 
                span(onclick="setAge(0,18,this)")#c_age_18 18-21
                br
                span(onclick="setAge(0,22,this)")#c_age_22 22-25
                br
                span(onclick="setAge(0,26,this)")#c_age_26 26-31
                br
                span(onclick="setAge(0,31,this)")#c_age_31 31-40
                br
                span(onclick="setAge(0,40,this)")#c_age_40 > 40
            tr
              td(colspan=2)
                br
                button=__i('start')
          input#nick(type="hidden")
          input#m_age(type="hidden")
          input#c_age(type="hidden")
          input#m_sex(type="hidden")
          input#c_sex(type="hidden")
          p#nickname-err Имя уже используется
      #connecting
        .wrap=__i('connecting')
      #messages
        #toolbar
          #nicknames
          #reconnect
            a(href="/")=__i('disconnect')
        #lines
      form#send-message
        input(disabled="disabled")#message
        button(disabled="disabled")#send=__i('send')
    #footer
      div#info Анонимный чат <a href="http://beseda.kz">Beseda.KZ</a> &copy; 2012
      div#share
        span.share=__i('share')
        div.yashare-auto-init(data-yashareL10n="ru", data-yashareType="none", data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir")
    script(type="text/javascript", async="async", src="//yandex.st/share/share.js", charset="utf-8")
