doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title=__i('name')
    meta(name="description", content="Анонимный чат Virt.IN")
    meta(name="keywords", content="чат, анонимный чат, знакомства, быстрые знакомства, одноразовые друзья, виртуальные знакомства")

    link(href='/css/t.css', rel='stylesheet')
    != "<script type='text/javascript'>"
    != "var app_host = '" + app_host + "';"
    != "var app_port = '" + app_port + "';"
    != "</script>"
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.cookie.min.js')
    script(src='/socket.io/socket.io.js')
    script
      // socket.io specific code
      var socket = io.connect("http://" + app_host + ":" +app_port);

      socket.on('connect', function () {
        
        $('#chat').addClass('connected');

        if($.cookie("m_sex")){        
          $("#m_sex_" + $.cookie("m_sex")).addClass("selected");
          $("#m_sex").val($.cookie("m_sex"));
        }

        if($.cookie("m_age")){        
          $("#m_age_" + $.cookie("m_age")).addClass("selected");
          $("#m_age").val($.cookie("m_age"));
        }

        if($.cookie("c_sex")){        
          $("#c_sex_" + $.cookie("c_sex")).addClass("selected");
          $("#c_sex").val($.cookie("c_sex"));
        }

        if($.cookie("c_age")){        
          $("#c_age_" + $.cookie("c_age")).addClass("selected");
          $("#c_age").val($.cookie("c_age"));
        }

        //if($.cookie("nick")){        
        //  $("#nick").val($.cookie("nick"));
        //}
      });
      
      
      socket.on('announcement', function (msg) {
        $('#lines').append($('<p>').append($('<em>').text(msg)));
      });

      socket.on('nicknames', function (nicknames) {

        $('#nicknames').empty().append($('<span>В сети: </span>'));
        var count = 0;        
        for (var i in nicknames) {
          $('#nicknames').append($('<b>').text(nicknames[i]));
          count++;
        }
        if(count > 1){
            message('System', 'Собеседник найден. Приятного общения!');
            $('#send').removeAttr('disabled');
            $('#message').removeAttr('disabled').focus();
        }else{
            $('#send').attr('disabled', 'disabled');
            $('#message').attr('disabled', 'disabled');
        }
      });

      socket.on('online', function (total, free) {
        $('span.online').empty().html('Всего ' + total + ' (ожидают - ' + free + ')');
      });

      socket.on('user message', message);
      socket.on('reconnect', function () {
        $('#lines').remove();
        message('System', 'Пересоединение с сервером');
      });

      socket.on('reconnecting', function () {
        message('System', 'Попытка переподключения...');
      });

      socket.on('error', function (e) {
        message('System', e ? e : 'Возникла необъяснимая ошибка');
      });

      function message (from, msg) {
        $('#lines').append($('<p>').append($('<b>').text(from), msg));
        $('#lines').get(0).scrollTop = 10000000;
      }
      
      // Set sex before connecting
      // who - 0 companion, 1 - me
      // sex - 1 male, 2 - female
      function setSex(who, sex, wtf){
        
        if(who == 0){
            $("td.c_sex span").removeClass("selected");
            $('#c_sex').val(sex);
        }else{
            $("td.m_sex span").removeClass("selected");
            $('#m_sex').val(sex);
        }

        $(wtf).addClass("selected");
      
      }

      // Set sex before connecting
      // who - 0 companion, 1 - me
      // age - text
      function setAge(who, age, wtf){
        
        if(who == 0){
            $("td.c_age span").removeClass("selected");
            $('#c_age').val(age);
        }else{
            $("td.m_age span").removeClass("selected");
            $('#m_age').val(age);
        }
        
        $("td.age span").removeClass("selected");
        $(wtf).addClass("selected");
      }
      
      // dom manipulation
      $(function () {
        $('#set-nickname').submit(function (ev) {
          socket.emit(
            'nickname', 
            $('#nick').val(), 
            $('#m_sex').val(), 
            $('#m_age').val(), 
            $('#c_sex').val(), 
            $('#c_age').val(), 
        function (set) {
            if (!set) {
              clear();
              //$.cookie("nick", $('#nick').val());
              $.cookie("m_sex", $('#m_sex').val());
              $.cookie("m_age", $('#m_age').val());
              $.cookie("c_sex", $('#c_sex').val());
              $.cookie("c_age", $('#c_age').val());			  
              
              $('#reconnect').show();

              return $('#chat').addClass('nickname-set');
            }
            $('#nickname-err').css('visibility', 'visible');
            
          });
          return false;
        });

        

        $('#send-message').submit(function () {
          message('Я', $('#message').val());
          socket.emit('user message', $('#message').val());
          clear();
          $('#lines').get(0).scrollTop = 10000000;
          return false;
        });

        function clear () {
          $('#message').val('').focus();
        };
      });
  body
    
    #chat
      #nickname
        #logo
          h4
            span=__i('name')
            span
              a(href="https://virt.in")
                img(src="/img/ssl-icon.png", alt="SSL", title="Безопасное общение")
          span.online 0
        form.wrap#set-nickname
          table#login
            tr
              td.title=__i('your_sex')
              td.title=__i('com_sex')
            tr
              td.m_sex 
                span(onclick="setSex(1,1,this)")#m_sex_1=__i('male')
                span(onclick="setSex(1,2,this)")#m_sex_2=__i('female')
              td.c_sex 
                span(onclick="setSex(0,1,this)")#c_sex_1=__i('male')
                span(onclick="setSex(0,2,this)")#c_sex_2=__i('female')
            tr.age
              td.title=__i('your_age')
              td.title=__i('com_age')
            tr
              td.m_age
                span(onclick="setAge(1,18,this)")#m_age_18 18-21
                br
                span(onclick="setAge(1,22,this)")#m_age_22 22-25
                br
                span(onclick="setAge(1,26,this)")#m_age_26 26-31
                br
                span(onclick="setAge(1,31,this)")#m_age_31 31-40
                br
                span(onclick="setAge(1,40,this)")#m_age_40 > 40
              td.c_age 
                span(onclick="setAge(0,18,this)")#c_age_18 18-21
                br
                span(onclick="setAge(0,22,this)")#c_age_22 22-25
                br
                span(onclick="setAge(0,26,this)")#c_age_26 26-31
                br
                span(onclick="setAge(0,31,this)")#c_age_31 31-40
                br
                span(onclick="setAge(0,40,this)")#c_age_40 > 40
            tr
              td(colspan=2)
                br
                button=__i('start')
          input#nick(type="hidden")
          input#m_age(type="hidden")
          input#c_age(type="hidden")
          input#m_sex(type="hidden")
          input#c_sex(type="hidden")
          p#nickname-err Имя уже используется
      #connecting
        .wrap=__i('connecting')
      #messages
        #toolbar
          #nicknames
          #reconnect
            a(href="http://virt.in")=__i('disconnect')
        #lines
      form#send-message
        input(disabled="disabled")#message
        button(disabled="disabled")#send=__i('send')
    #footer
      div#info Анонимный чат <a href="http://virt.in">Virt.IN</a> &copy; 2012
      div#share
        span.share=__i('share')
        div.yashare-auto-init(data-yashareL10n="ru", data-yashareType="none", data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir")
    script(type="text/javascript", async="async", src="//yandex.st/share/share.js", charset="utf-8")
